Evi3/ns.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
            <s:element name="SumaRequest">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="a" type="s:float"/>
                        <s:element minOccurs="1" maxOccurs="1" name="b" type="s:float"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="SumaResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="result" type="s:float"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="RestRequest">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="a" type="s:float"/>
                        <s:element minOccurs="1" maxOccurs="1" name="b" type="s:float"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="RestResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="result" type="s:float"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="MultRequest">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="a" type="s:float"/>
                        <s:element minOccurs="1" maxOccurs="1" name="b" type="s:float"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="MultResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="result" type="s:float"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="DiviRequest">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="a" type="s:float"/>
                        <s:element minOccurs="1" maxOccurs="1" name="b" type="s:float"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="DiviResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="result" type="s:float"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="SumaSoapIn">
        <wsdl:part name="parameters" element="tns:SumaRequest"/>
    </wsdl:message>
    <wsdl:message name="SumaSoapOut">
        <wsdl:part name="parameters" element="tns:SumaResponse"/>
    </wsdl:message>
    <wsdl:message name="RestSoapIn">
        <wsdl:part name="parameters" element="tns:RestRequest"/>
    </wsdl:message>
    <wsdl:message name="RestSoapOut">
        <wsdl:part name="parameters" element="tns:RestResponse"/>
    </wsdl:message>
    <wsdl:message name="MultSoapIn">
        <wsdl:part name="parameters" element="tns:MultRequest"/>
    </wsdl:message>
    <wsdl:message name="MultSoapOut">
        <wsdl:part name="parameters" element="tns:MultResponse"/>
    </wsdl:message>
    <wsdl:message name="DiviSoapIn">
        <wsdl:part name="parameters" element="tns:DiviRequest"/>
    </wsdl:message>
    <wsdl:message name="DiviSoapOut">
        <wsdl:part name="parameters" element="tns:DiviResponse"/>
    </wsdl:message>
    <wsdl:portType name="calculatorServiceSoapPort">
        <wsdl:operation name="Suma">
            <wsdl:input message="tns:SumaSoapIn"/>
            <wsdl:output message="tns:SumaSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="Rest">
            <wsdl:input message="tns:RestSoapIn"/>
            <wsdl:output message="tns:RestSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="Mult">
            <wsdl:input message="tns:MultSoapIn"/>
            <wsdl:output message="tns:MultSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="Divi">
            <wsdl:input message="tns:DiviSoapIn"/>
            <wsdl:output message="tns:DiviSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="calculatorSoapBinding" type="tns:calculatorServiceSoapPort">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Suma">
            <soap:operation soapAction="Suma"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Rest">
            <soap:operation soapAction="Rest"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Mult">
            <soap:operation soapAction="Mult"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Divi">
            <soap:operation soapAction="Divi"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="calculatorService">
        <wsdl:port name="calculatorServiceSoapPort" binding="tns:calculatorSoapBinding">
            <soap:address location="http://localhost:5050/calculadora"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>